<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
      <i class="bi-emoji-laughing-fill me-2"></i>
      <span><strong>Carlos Cruz</strong></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
      <i class="bi-list"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="navbar-nav ms-4">
        <a class="nav-link active" href="https://github.com/c373"><i class="bi-github"></i></a>
        <a class="nav-link active" href="https://linkedin.com/in/ccruza"><i class="bi-linkedin"></i></a>
        <a class="nav-link active me-2" href="malito:email@gmail.com"><i class="bi-envelope-at-fill"></i></a>
        <a class="nav-link" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
        <a class="nav-link" routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">Experience</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      </div>
    </div>
  </div>
</nav>
