<div class="card text-bg-dark">
  <div class="row row-cols-auto g-0">
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <img src="{{this.imgPath}}" class="img-fluid rounded-end" alt="portrait"/>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title"><ng-content select="[title]"></ng-content></h5>
        <h6 class="card-subtitle text-secondary mb-2"><ng-content select="[subtitle]"></ng-content></h6>
        <div class="card-text"><ng-content select="[bodyText]"></ng-content></div>
      </div>
    </div>
  </div>
</div>
