<div class="container">
  <div class="row justify-content-center p-2">
    <div class="card col-8 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Expeditors International Inc</h5>
        <h6 class="card-subtitle mb-2">Associate Developer</h6>
        <h6 class="card-subtitle mb-2">Sep 2022 - Present · 7 mos</h6>
        <span class="card-text">
          <ul>
            <li>
        Optimized a web application resulting in response speeds 30x faster
            </li>
            <li>
        Provide system monitoring to ensure maximum up-time and provide service to 100s of branches around the world
            </li>
            <li>
        Collaborate with developers to innovate on existing tools• Optimized a web application resulting in response speeds 30x faster • Provide system monitoring to ensure maximum up-time and provide service to 100s of branches around the world • Collaborate with developers to innovate on existing tools
            </li>
          </ul>
        Skills: TypeScript · Software Development · Linux · Java · Software Development Life Cycle (SDLC) · Bash · Git
        </span>
      </div>
    </div>
  </div>
</div>
