<div class="container">
  <div class="row justify-content-evenly p-2">
    <div class="card col-5 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Seasonal Styles</h5>
        <a href="https://github.com/carloscruzyearup/seasonal-styles" class="btn btn-success me-2">Github Repo</a>
        <a href="https://carloscruzyearup.github.io/seasonal-styles/" class="btn btn-primary">Live Demo</a>
      </div>
    </div>
    <div class="card col-5 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Smart Cities</h5>
        <a href="https://github.com/carloscruzyearup/smart-cities" class="btn btn-success me-2">Github Repo</a>
        <a href="https://carloscruzyearup.github.io/smart-cities/" class="btn btn-primary">Live Demo</a>
      </div>
    </div>
    <div class="card col-5 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Dom Play</h5>
        <a href="https://github.com/carloscruzyearup/dom-play" class="btn btn-success me-2">Github Repo</a>
        <a href="https://carloscruzyearup.github.io/dom-play" class="btn btn-primary">Live Demo</a>
      </div>
    </div>
    <div class="card col-5 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Daily Grind</h5>
        <a href="https://github.com/carloscruzyearup/daily-grind" class="btn btn-success me-2">Github Repo</a>
        <a href="https://carloscruzyearup.github.io/daily-grind" class="btn btn-primary">Live Demo</a>
      </div>
    </div>
    <div class="card col-5 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Dog API Clone</h5>
        <a href="https://github.com/c373/dog-api-clone" class="btn btn-success me-2">Github Repo</a>
      </div>
    </div>
    <div class="card col-5 text-bg-dark mb-2">
      <div class="card-body">
        <h5 class="card-title">Time of day</h5>
        <a href="https://github.com/carloscruzyearup/time-of-day" class="btn btn-success me-2">Github Repo</a>
        <a href="https://carloscruzyearup.github.io/time-of-day" class="btn btn-primary">Live Demo</a>
      </div>
    </div>
  </div>
</div>
